@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* {
    box-sizing:border-box;
}

body {
    font-family: "Prata", serif;
    margin: 0;
    background-image: url(bg.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    min-height: 100vh;
}

aside {
    background-color: #000;
    flex-direction: column;
    color: #fff;
    margin: 0;
    padding: 1.5rem;
    width:300px;
    height:110vh;
}

aside h3 {
    background-color: burlywood;
    color: #000;
    font-size:2rem;
    padding: 1rem;
}

aside a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0.1rem;
}

ul li {
    list-style-type: none;
    font-size: 1.5rem;
    margin-block: 1.5rem;
}

main {
    display: block;
    font-size: 2rem;
    padding:3rem;
}

main h1 {
    margin: 0;
}

main h3 {
    margin: 0;
}
